@font-face {
    font-family: 'mtf_sweet_cheeksregular';
    src: url('fonts/mtf_sweet_cheeks-webfont.eot');
    src: url('fonts/mtf_sweet_cheeks-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mtf_sweet_cheeks-webfont.woff') format('woff'),
         url('fonts/mtf_sweet_cheeks-webfont.ttf') format('truetype'),
         url('fonts/mtf_sweet_cheeks-webfont.svg#mtf_sweet_cheeksregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 23px;
    line-height: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #000;
    background: #fff;
    min-width: 100%;
    padding: 0 !important;
}

h2 { font-weight: 700; font-size: 71px; line-height: 76px; color: #fa4c65;}
h3 { font-weight: 400; font-size: 45px; line-height: 50px; color: #fa4c65;}

.text-center { text-align: center; }
.text-right { text-align: right; }
.text-left { text-align: left; }

a { color: #fa4c65; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

a,
a img { transition: color 1000ms, background-color 1000ms, opacity 1000ms; -webkit-transition: color 1000ms, background-color 1000ms, opacity 1000ms; }

a:hover { transition: color 300ms, background-color 300ms, opacity 300ms; -webkit-transition: color 300ms, background-color 300ms, opacity 300ms;}

.socials a:hover { opacity: 0.6; -moz-opacity: 0.6; filter:alpha(opacity=60); }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.clearfix { *zoom: 1; }
.clearfix:after { width: 100%; content: ''; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; display: block; }

.container { }

.logo a,
.socials a,
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { margin: 0 auto; background: #fff; max-width: 940px; }

.header { min-height: 265px; background: url(images/header.jpg) top repeat-x #fa4c65; position: relative; }
.header img { width: 100%; height: auto; margin-top: 26px; }

.logo, .logo a { height: 207px; }
.logo { width: 621px; position: absolute; top: 26px; left: 0; }
.logo a { display: block; background: url(images/logo.png); }

.address p { font-size: 22px; line-height: 27px; color: #fff; }
.address { display: block; margin: 0 0 0 auto; padding: 100px 0 0; }

.map-holder .button-zoom, .map-holder .button-help { position: absolute; display: block; }
.map-holder { position: relative; }
.button-zoom { width: 90px; height: 41px; background: url(images/button-zoom.png); top: 20px; left: 0; }
.button-help { width: 172px; height: 40px; background: url(images/button-help.png); top: 0; right: 20px; }

.cake { width: 276px; height: 383px; background: url(images/cake.png); position: relative; margin: 30px auto 0;}
.cake span { font-family: 'mtf_sweet_cheeksregular'; font-size: 66px; line-height: 74px; color: #fff; text-align: center; display: block; bottom: 42px; position: absolute; width: 100%; }

.redeem { padding: 24px 0 79px; }
.redeem img { width: 100%; height: auto; max-width: 275px; display: block; margin: 0 auto; }

.promo-text { padding: 0 0 7px; }
.promo-text h2 { padding: 0 0 22px; }
.promo-text p { font-size: 45px; line-height: 55px; color: #fa4c65; }
.promo-text p.small { font-size: 25px; line-height: 30px; }

.code-box { max-width: 380px; min-height: 75px; border-radius: 20px; background: #b3b3b3; text-align: center; overflow: hidden; margin: 44px 0 8px; display: block}
.code-box span { font-weight: 700; font-size: 38px; line-height: 81px; color: #fff; }

.share-container { color: #ef4c63; }
.share-container strong { display: block; font-weight: 700; }

.share-container .socials a, .share-container .socials { min-height: 61px; }
.share-container a { float: left; display: inline; width: 61px; margin: 7px 0 0 19px; }
.share-container .socials { position: relative; margin: 0 0 0 -19px; }

.addthis_toolbox span { background: url(images/socials.png);  width: 61px; height: 61px; }
.addthis_toolbox .addthis_button_facebook span { background-position: 0 0;}
.addthis_toolbox .addthis_button_twitter span { background-position: -80px 0;}
.addthis_toolbox .addthis_button_email span { background-position: -160px 0;}
.addthis_toolbox .addthis_button_google_plusone_share span { background-position: -240px 0;}
.addthis_toolbox .addthis_button_pinterest_share span { background-position: -320px 0;}

.about { padding: 50px 0 0; }
.about p { font-weight: 300; line-height: 27px; padding: 48px 0 0; }
.about .group-content { padding: 37px 0 0; }
.about .group-content img { margin: 4px 0 0; width: 100%; }
.about .group-content p { padding: 0; }

.about .about-text { padding: 45px 0; }
.about .about-text p { font-size: 25px; line-height: 30px; font-weight: 700; color: #fa4c65; padding: 0; margin: 12px 0; }
.about .about-text p span { padding: 0 2px; *padding: 0; }

.footer { min-height: 130px; background: url(images/header.jpg) bottom repeat-x #fa4c65; padding: 29px 0; }
.footer-top { padding: 0 0 34px; }
.footer strong { font-size: 25px; font-weight: 700; color: #fff; float: left; display: inline; padding: 8px 0 0 0; }
.footer p { font-weight: 700; color: #fff; font-size: 16px; line-height: 20px; }
.footer p a { color: #fff; margin: 0 0 0 40px; }
.footer p a:first-child { margin: 0; }
.footer p a:hover { text-decoration: none; color: #fdb7c1; }

.footer .socials, .footer .socials a { height: 60px; }
.footer .socials { float: right; display: inline; margin: 0; min-width: 139px; }
.footer .socials a { width: 59px; float: left; display: inline; background: url(images/footer-socials.png); margin: 0 0 0 21px; }
.footer .socials a:first-child { margin: 0; }
.footer .socials a.ico-facebook { background-position: 0 0; }
.footer .socials a.ico-twitter { background-position: 59px 0; }

.footer p.copy { font-size: 14px; line-height: 16px; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; font-weight: normal; }

.ad-placeholder { height: 256px; overflow: hidden; font-size: 0; line-height: 0; }
.ad-placeholder a { display: block; font-size: 0; line-height: 0; }
.ad-placeholder img { width: 100%; }

@media only screen and (max-width: 768px) {
    .redeem { padding: 25px 10px; }
    .about { padding: 25px 10px; }
    .footer { padding-left: 10px; padding-right: 10px; }
    .shell { margin: 0 10px; }
    .header p { text-align: center;}
    .address { padding: 50px 0; }
    .promo-text { text-align: center; }
    .share-container { text-align: center; }
    .share-container a { float:  none; display: inline-block; }

    .footer p { text-align: center; }

    .code-box { margin: 44px auto 7px; }
}