{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>HandleBar Promo</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="shortcut icon" href="{% static "special/clients/handlebar/css/images/favicon.ico"%}" />
	<link rel="stylesheet" href="{% static "special/clients/handlebar/css/bootstrap.css"%}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static "special/clients/handlebar/css/bootstrap-responsive.min.css"%}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static "special/clients/handlebar/css/style.css"%}" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'/>
	<script src="{% static "special/clients/handlebar/js/jquery-1.10.2.min.js"%}" type="text/javascript"></script>
	<script src="{% static "special/clients/handlebar/js/modernizr.js"%}" type="text/javascript"></script>
</head>
<body>
	<section class="shell container">
		<div class="">
			<header class="header clearfix">
			<div class="row-fluid">
				<div class="span8">
					<img src="{% static "special/clients/handlebar/css/images/logo.png"%}" alt="" />
				</div>
				<div class="span3 offset1">
					<div class="address">
						<p>12 S Main St Doylestown, PA  18901<br />(440)-804-6003 </p>
				    </div>
			    </div>
            </div>
		    </header><!-- /.header -->

            <section class="map-holder">
                <iframe width="100%" height="245" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=12+S+Main+St.+Doylestown,+PA,+18901+USA&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=58.72842,114.169922&amp;ie=UTF8&amp;hq=&amp;hnear=12+S+Main+St,+Doylestown,+Pennsylvania+18901&amp;ll=40.309734,-75.130354&amp;spn=0.003506,0.006968&amp;t=m&amp;z=14&amp;output=embed"></iframe>

            </section><!-- /.map-holder -->
	
		<section class="redeem">
			<div class="row-fluid">
				<div class="span6">
					<img src="{% static "special/clients/handlebar/css/images/"|add:promo_img %}" alt="" />
				</div>
				<div class="span6">
					<div class="promo-text">
						<h2>{{ promo_title }}</h2>
						<p>{{ promo_restriction }}</p>
						<div class="code-box">
							<span>CODE: {{ promo_code }}</span>
						</div>
						<p class="small"><strong>SHOW THIS PAGE AT THE STORE</strong></p>
					</div>
					<div class="share-container">
						<strong>share this:</strong>
						<div class="socials clearfix">
							<div class="addthis_toolbox">
								<a class="addthis_button_facebook"></a>
								<a class="addthis_button_twitter"></a>
								<a class="addthis_button_email"></a>
								<a class="addthis_button_google_plusone_share"></a>
								<a class="addthis_button_pinterest_share"></a>
							</div>
							<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5243cff358f77bdf"></script>
						</div>
					</div>
				</div>
			</div>
						
		</section><!-- /.redeem -->

		<section class="ad-placeholder">
			<a href="#"><img src="{% static "special/clients/handlebar/css/images/image.jpg"%}" alt="" /></a>
		</section>

		<section class="about">
			<div class="row-fluid">
				<div class="span10 offset1">
					<h3>About HandleBar</h3>
					<p>Each day, HandleBar’s whirring dispensers house a variety of yogurts, in head-turning flavors such as red velvet and mango lassi, that customers swirl into their own cups. These frosty dollops pair well with a variety of do-it-yourself toppings, from candy bits that further satisfy sweet teeth to fresh fruit that keeps nutritionists from reporting a food pyramid violation to the authorities. </p>
					<div class="group-content clearfix">
						<div class="row-fluid">
							<div class="span7">
								<p>In addition to cool treats, the shop also whips up a sizzling selection of hand-griddled Belgian-style Liège waffles. Hand-made in the shop from fresh ingredients, including many imported directly from Belgium, the waffles are topped with Belgian pearl sugar prior to being cooked in a cast iron skillet, adding a satisfying, sugary crunch to the waffle, pairing perfectly with toppings such as Nutella, strawberries, and more.</p>
							</div>
							<div class="span5"><a href="#"><img src="{% static "special/clients/handlebar/css/images/image2.jpg"%}" alt="" /></a></div>
						</div>
					</div>
					<div class="about-text">
						<p>12 S Main St  <span>&#8226;</span>  Doylestown, PA  <span>&#8226;</span>  18901  <span>&#8226;</span>  (440) 804-6003 </p>
						<p>HOURS:   <span>Sun -</span> Thurs  <span>11am to 10pm</span>  <span>&#8226;</span>   <span>Fri -</span> Sat  <span>11am to 11pm</span></p>
					</div>
				</div>
			</div>
		</section>

		<footer class="footer">
			<div class="footer-top clearfix">
				<div class="row-fluid">
					<div class="span7 offset1">
						<strong>FOLLOW US:</strong>
					</div>
					<div class="span3">
						<div class="socials clearfix">
							<a href="https://www.facebook.com/gohandlebar" class="ico-facebook">facebook</a>
							<a href="https://twitter.com/gohandlebar" class="ico-twitter">twitter</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-links">
				<div class="row-fluid">
					<div class="span7 offset1">
						<p class="left"><a href="http://www.keensmb.com/legal">TERMS OF USE</a><a href="mailto:handlebar@keensmb.com">CONTACT US</a><a href="http://www.keensmb.com/legal">PRIVACY POLICY</a></p>
					</div>
					<div class="span4"><p class="copy">&copy; Digital First Ventures. All Rights Reserved.</p></div>
				</div>
			</div>
		</footer>
		</div>
		</div>

	</section>
    {% include 'snippets/ga_tracking.html' %}
</body>
</html>