header {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

header .logo img {
  max-width: 100%;
}

section .header-title {
  font-style: italic;
  color: #df241c;
  text-align: center;
  background-color: #d9d9d9;
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 14px;
  font-weight: bold;
}

section .map {
  background: url('../images/map.png') top center no-repeat;
  position: relative;
  height: 697px;
}

.map .contact-form {
  background-color: #ffffff;
  padding-bottom: 24px;
  width: 393px;
  overflow: hidden;
  position: relative;
  top: 9px;
  left: 24px;
  -webkit-box-shadow: 2px 2px 5px #b7b7b7;
  box-shadow: 2px 2px 5px #b7b7b7;
  z-index: 1;
}

.map .contact-form h1 {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: #f2f2f2;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 32px;
}

.map .contact-form p {
  padding-left: 21px;
  padding-right: 21px;
  font-size: 19px;
  line-height: 20px;
  margin-bottom: 18px;
}

.map .contact-form span {
  display: block;
  padding-left: 21px;
  padding-right: 21px;
  font-size: 19px;
  line-height: 20px;
  margin-bottom: 29px;
}

.map .contact-form form {
  padding-left: 21px;
  padding-right: 13px;
}

.map .contact-form form input {
  height: 22px;
  line-height: 17px;
  padding: 2px 4px;  
  font-size: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.map .contact-form form .form-group {
  margin-bottom: 7px;
}

.map .contact-form .inline-block {
  overflow: hidden;
}

.map .contact-form .inline-block .sm-input-block {
  width: 111px;
  margin-left: 13px;
  float: left;
}

.map .contact-form .inline-block .sm-input-block:first-child {
  margin-left: 0;
}

.map .confirm-btn {
  background-color: #1abc9c;
  color: #ffffff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: 8px;
  font-size: 12px;
}

.map .confirm-btn:hover {
  background-color: #1aa68a;
}

.map .contact-info {
  width: 335px;
  padding: 9px 0 7px 9px;
  background-color: #ffffff; 
  position: absolute;
  right: 65px;
  top: 310px;
  line-height: normal;
}

.map .contact-info strong {
  font-size: 13px;
  display: block;
  margin-bottom: 3px;
}

.map .contact-info .left-info {
  overflow: hidden;
  margin-right: 57px;
}

.map .contact-info .left-info span {
  display: block;
  font-size: 12px;
}

.map .contact-info .right-info span a {
  display: inline-block;
  padding-top: 22px;
  font-size: 11px;
  padding-bottom: 3px;
}

.map .contact-info .right-info .direction {
  background: url('../images/road.png') center 2px no-repeat;
  border-right: 1px solid #ededed;
  padding-right: 10px;
}

.map .contact-info .right-info .save {
  background: url('../images/star.png') 15px 2px no-repeat;
  padding-left: 12px;
}

.map .contact-info .right-info span {
  border-bottom: 1px solid #ededed;
  padding-bottom: 5px;
  padding-right: 5px;
  margin-bottom: 6px;
}

.map .contact-info .right-info {
  width: 113px;
}

.map .contact-info .right-info > a {
  font-size: 11px;
}

.map .contact-info .right-info em {
  font-style: normal;
  font-size: 11px;
  display: block;
  margin-top: 5px;
}

footer {
  background: url('../images/footer-bg-repeat.png') repeat;
  overflow: hidden;
  margin-bottom: -1px;
}

.bottom-top {
  background: url('../images/bottom-top.png') repeat-x;
}